name: Pull Request Checks

on:
  pull_request:

jobs:
  testApiAndSourceSets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: |
          ./gradlew :tests:testApi
          ./gradlew :tests:testSourceSets

  paparazziPreviewsRuntime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run paparazziPreviewsRuntime
        run: ./gradlew paparazziPreviewsRuntime -Pverify=true

  paparazziPreviewsSourceSet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run paparazziPreviewsSourceSet
        run: ./gradlew paparazziPreviewsSourceSet -Pverify=true

  roborazziPreviewsRuntime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run roborazziPreviewsRuntime
        run: ./gradlew roborazziPreviewsRuntime -Pverify=true

  roborazziPreviewsSourceSet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run roborazziPreviewsSourceSet
        run: ./gradlew roborazziPreviewsSourceSet -Pverify=true
